.project {
  .nav-lista {
    visibility: hidden;
  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .project-cards {
      margin: 1rem 5rem 3rem 5rem;
      height: 25rem;
      width: 22rem;
      background-color: var(--color-theme2);
      box-shadow: 0px 1px 20px var(--color-theme1);
      h2 {
        margin: 1rem 0rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 900;
        color: var(--color-theme3);
      }
      img {
        margin: 0.5rem 0.5rem;
        width: 21rem;
        height: auto;
        border: 1px solid var(--color-theme1);
      }
      P {
        margin: 0.5rem 1rem;
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--color-theme3);
      }
    }
  }
}
